p, img, canvas, div, h1, h2, h3, body, li, ul {
    
    list-style: none;
    border: none;
    font-family: sans-serif;
    
    /* color: rgb(248, 226, 226); */
    /* color: black */
    /* text-shadow: */

}

h1 {
    color: rgb(223, 182, 49);
    font-weight:900;
    background-color: var(--darkgreen);
    position: relative;
    padding: 20px;
    border-radius: 10px;

}

body {
    background-color:var(--midgreen);
    display: flex;
    flex-direction: column;
}

body canvas {
    /* position: absolute; */
    border: 5px solid rgba(255, 255, 0, 0.705);
    box-shadow: 2px 2px 10px black;
    overflow: hidden;
    /* background: blue; */
}
/* 
img {
    display: none;
} */
.hidden {
    display: none;
}

/* --------------------------- */
header {
    /* position: absolute; */
    display: flex;
    justify-content: space-around;
    align-items:center;
}
#title{
    /* left: 20px; */
}
#github_logo {
    display: inline-block;
    max-height: 60px;
    width: auto;    
    margin-right: 10px;
    /* margin-bottom: 5px; */
    /* color: white; */
}

#linkedin_logo {
    display: inline-block;
    height: 60px;
    width: auto;
}
#author {
    font-size: 30px;
    /* margin-top: 70px; */
}


/* ------------------- */

footer {
    display: flex;
    justify-content: space-around;
}

/* ----------------------- */

#backstory {
    width: 400px;
    border: 3px solid lightblue;
    border-radius: 10px;
    background-color: var(--darkgreen);
    text-align: center;
    margin: 10px;
    padding: 10px;
}

/* manual */

ul li {
    margin: auto;
    text-align: center;
}

#manual-header {
    text-align: center;
}

#manual {
    display:flex;
    flex-direction: column;
    border: 3px solid lightblue;
    border-radius: 10px;
    background-color: var(--darkgreen);
    padding: 20px;
    /* margin: 10px; */
}

#instructions {
    text-align: left;
    justify-content: center;
    padding-right: 20px;
    /* left: 30px; */
    /* background-color: blue; */

}

.gameModal {
    position: absolute;
    top: calc(50vh - 250px);
    left: calc(50vw - 500px);
    height: 480px;
    width: 1000px;
    display: flex;
    background-color: var(--darkgreen);
    border: 2px solid purple;
    color: black;
}

.gameModalHidden {
    position: absolute;
    display: hidden;
    background-color: var(--darkblue);
    border: 2px solid purple;
    color: black;
}

.main {
    --darkblue:  rgb(1, 1, 150);
    --midblue: rgb(27, 61, 136);
    --lightblue: rgb(122, 170, 241);
    --lightgrey: rgb(181, 237, 247);  
    --lightgreen: rgb(166, 243, 166);
    --midgreen: rgb(43, 173, 43);
    --green: rgb(26, 129, 26);
    --darkgreen: rgb(1, 56, 1);
}       

.hidden {
    display: none;
}