p, img, canvas, div, h1, h2, h3, body, li, ul {
    
    list-style: none;
    border: none;
    font-family: sans-serif;
    
    /* color: rgb(248, 226, 226); */
    /* color: black */
    /* text-shadow: */

}

/* h1 {
    color: rgb(223, 182, 49);
    font-weight:900;
    background-color: var(--darkgreen);
    position: relative;
    padding: 20px;
    border-radius: 10px;

} */

body {
    background-color:var(--midgreen);
    display: flex;
    flex-direction: column;
}

body canvas {
    /* position: absolute; */
    /* border: 5px solid rgba(255, 255, 0, 0.705); */
    /* box-shadow: 2px 2px 10px black; */
    /* overflow: hidden; */
    border-radius: 15px;
    
    /* background: blue; */
}



.gamecanvas {
    width: 1200px;
    height: 600px;
}

.canvascontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: calc(50vh - 300px);
    right: calc(50vw - 600px);
    z-index: 100
}
/* 
img {
    display: none;
} */
.hidden {
    display: none;
}

/* --------------------------- */
header {
    display: flex;
    justify-content: space-around;
    align-items:center;
}

#github_logo {
    display: inline-block;
    max-height: 60px;
    width: auto;    
    margin-right: 10px;
}

#linkedin_logo {
    display: inline-block;
    height: 60px;
    width: auto;
}

.headertitle {
    background-color: none;
    color: var(--darkgreen);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    /* padding-top: 10px; */
}


/* ------------------- */

footer {
    display: flex;
    justify-content: space-around;
}

/* ----------------------- */



ul li {
    margin: auto;
    text-align: center;
}


.gameModal {
    position: absolute;
    top: calc(50vh - 150px);
    left: calc(50vw - 250px);
    height: 300px;
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--darkgreen);
    border: 2px solid purple;
    border-radius: 15px;
    color: black;
    z-index: 101;
    transition-duration: 1s;
    
}

.gameModalHidden {
    position: absolute;
    display: none;
    background-color: var(--darkblue);
    border: 2px solid purple;
    color: black;
    transition-duration: 1s;
    justify-content: center;
}

.modalText {
    /* position: relative; */
    justify-content: center;
    color: white
}

.modalText0 {
    font-size: 25px;
}

/* logos! --------------- */
.logo {
    max-width: 60px;
}

.linkedinlogo {

}

.githublogo {

}

/* /logos ------------------------------ */

.main {
    --darkblue:  rgb(1, 1, 150);
    --midblue: rgb(27, 61, 136);
    --lightblue: rgb(122, 170, 241);
    --lightgrey: rgb(181, 237, 247);  
    --lightgreen: rgb(166, 243, 166);
    --midgreen: rgb(37, 150, 37);
    --green: rgb(26, 129, 26);
    --darkgreen: rgb(1, 56, 1);
}       



.hidden {
    display: none;
}